# Compiled class files
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

# Eclipse files
*.pydevproject
.project
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# IntelliJ IDEA files
*.iml
*.ipr
*.iws
.idea/
out/

# NetBeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code files
.vscode/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Other
*.orig